/*나눔고딕*/
@import url('http://api.mobilis.co.kr/webfonts/v2/css/NanumGothicWeb');
/*나눔명조*/
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);


body {
	background-color : rgb(229,229,229);
	margin : 0;
	min-width: 1024px;
	line-height: 10%;

}

/*주간 베스트셀러*/
h1{
	font : bold small-caps  30px NanumGothicWeb;
	letter-spacing : -3px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0.25em;

}

/*도서, 내 책, 쇼핑하기*/
h2{
	font : 20px NanumGothicWeb;
	letter-spacing:2px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0.25em;

}


/*한 주 동안 가장 많은 사랑을 받은 도서*/
h3{
	font : 15px Nanum myeongjo,serif;
	letter-spacing : 4px;
	line-height: 50%;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

form{
	margin : auto 0;
}

input[type="text"] {
	width : 100%;
	min-width : 335px;
	margin : 0;
	padding : 6px 0px 6px 0px;
	font-size : 11pt;
	text-indent: 10px;
}

input[type="image"]{
	padding-top: 8px;
	padding-left: 22px;
	width :16px;

}

.topBar{
	display: block;
	padding: 10px 30px 10px 30px;
	background-color: rgb(241,241,241);
}

#toplogo{
	display: inline-block;
	text-align: center;
	margin-right : 30px;
}
#toplogo img{
	width : 180px;
}

#topsearchbar{
	display: inline-block;
	width : 40%;
	vertical-align: top;
	padding-top: 2px;

}
#topsearchbar_button{
	width: 60px;
	height : 34px;
	display: inline-block;
	margin-top: 2px;
	margin-left: -5px;
	vertical-align: top;
	background-color: rgb(70,131,236);
}


.navLeft{
	display: block;
	width : 200px;
	height : 240px;
	background-color: rgb(243,243,243);
	text-align: center;
}


