/*나눔고딕*/
@import url(http://api.mobilis.co.kr/webfonts/v2/css/NanumGothicWeb);
/*나눔명조*/
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);


/*초기화*/
html, body {
	margin : 0;
	padding : 0;
	background-color : rgb(229,229,229);
	min-width: 1180px;}

ul,ol,dl,li {
	-webkit-margin-before : 0;
	-webkit-margin-after : 0;
	-webkit-margin-start : 0;
	-webkit-margin-end : 0;
	-webkit-padding-start : 0;
	list-style: none;}

a {outline-style: none;}
h1, h2, h3, h4, h5, h6{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/*h tag 설정*/

/*주간 베스트셀러*/
h1{
	font : bold small-caps  30px NanumGothicWeb;
	letter-spacing : -3px;
}

/*도서, 내 책, 쇼핑하기*/
h2{
	font : 20px NanumGothicWeb;
	letter-spacing:2px;
}


/*한 주 동안 가장 많은 사랑을 받은 도서*/
h3{
	font : 15px Nanum myeongjo,serif;
	letter-spacing : 4px;
}





/*header*/
header{
	position: relative;
	display: block;
	padding: 10px 30px 10px 30px;
	background-color: rgb(241,241,241);
}

#toplogo{
	display: inline-block;
	text-align: center;
	margin-right : 30px;
}

#toplogo img{
	width : 180px;
}

#topsearchbar{
	display: inline-block;
	width : 44%;
	vertical-align: top;
	padding-top: 2px;

}


form{
	margin : auto 0; }

input[type="text"] {
	width : 100%;
	min-width : 335px;
	margin : 0;
	padding : 6px 0px 6px 0px;
	font-size : 11pt;
	text-indent: 10px;
}

input[type="image"]{
	padding-top: 8px;
	padding-left: 22px;
	width :16px;
}


#topsearchbar_button{
	width: 60px;
	height : 34px;
	display: inline-block;
	margin-top: 2px;
	margin-left: -5px;
	vertical-align: top;
	background-color: rgb(70,131,236);
}

.user{
	position: absolute;
	display: inline-block;
	vertical-align: super;
	top : 0;
	right : 10px;
	margin-left: 30px;
}

.user.name.ellipsis{
	position: relative;
	font-size: 14px;
	display: inline-block;
	width: 100px;
	text-overflow : ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 20px;
}

.user.menu{
	position: relative;
	display: inline-block;
	margin-left: 15px;

}

.user.notify{
	position: relative;
	top : 5px;
	display: inline-block;
	margin-left: 25px;
}

.user.share_button{
	position: relative;
	display: inline-block;
	top : -2px;
	margin-left: 25px;
}

.user.share_button button{
	border: none;
	background-color: rgb(230,230,230);
	padding: 5px 20px 5px 20px;
	font-size: 15px;
}

.user.pics{
	position: relative;
	display: inline-block;
	margin-left: 25px;
	top : 14px;
}

.user.pics img{
	border-radius: 40px;
	width: 40px;
}
.user.notify img{
	width: 23px;
}
.user.name.ellipsis:hover{
	transition : all, 0.25s ease;
	text-decoration: underline;
}

.user button:hover{
	transition : all, 0.25s ease;
	background-color: rgba(0,0,0,0.5);
}

.user.menu img:hover{
	transition : all, 0.25s ease;
	-webkit-filter: brightness(20%); 
}

.user.notify img:hover{
	transition : all, 0.25s ease;
	-webkit-filter: brightness(20%); 
}



/*aside menu*/
aside {
	display: inline-block;
	width : 200px;
	height : 240px;
	background-color: rgb(243,243,243);
	vertical-align: middle;
	float : left;
}

.aside{
	display: inline-block;
	width : 200px;
	height : 240px;
	background-color: rgb(243,243,243);
	vertical-align: middle;
}

.aside.type{
	position: relative;
	height: 48px;
}


.selected_invert{
	background-color: rgb(26, 161, 225);
	color: rgb(255, 255, 255);
}

.aside.type.selected_invert h2{
	font : 18px bold NanumGothicWeb;
	letter-spacing:2px;
}


.aside.type.icon{
	position: absolute;
	margin-left: 40px;
	margin-top: 13px;
	width : 52px;
	padding-top: 0;
	background-color: rgba(0,0,0,0.0);
}


.aside.type.name{
	position: absolute;
	left : 92px;
	margin-top: 15px;
	background-color: rgba(0,0,0,0.0);
	padding-top: 0;
}

.aside.below{

	position : relative;
	width : 200px;
	height : 192px;

}

.aside.back{
	position : relative;
	background-color: rgb(255,255,255);
	width: 25px;
	height: 192px;

}

.aside.back > button{
	border : 0;
	padding:  0;
	background-color: rgba(0,0,0,0.0);
	margin-top: 84px;
	display: inline;

}

.aside.menu {
	position : absolute;
	width : 175px;
	height: 192px;
	margin-top: 0px;

}

.aside.menu ul{
	margin-top : 16px;
}

.aside.menu li button{
	height: 45px;
	font : 18px bold;
	color : rgb(85,85,85);
	padding-top: 7px;
	padding-left : 24px;
	border: none;
	background-color: rgba(0,0,0,0);
}

.aside.menu li .selected button {
	color : rgb(26, 161, 225);
}


.aside.menu li:hover{
	transition : all .25s ease;
	background: rgba(0,0,0,0.1);
}





/* navigation */
nav {
	box-shadow: 0px 1px  rgba(0,0,0,0.1);
	position: relative;
	left : 200px;
	height : 48px;
	width : 100%;
	background-color: rgb(255,255,255);
}

.nav.genre{
	position: absolute;
	width : 180px;
	height: 48px;
}

.nav.genre button{
	position: absolute;
	height: 48px;
	left : 95px;
	color : rgb(164,164,164);
	background-color: rgba(0,0,0,0);
	border: none;
	font : 15px bold NanumGothicWeb;
	text-align: center;
	letter-spacing:0px;
}

.nav.genre button:hover{
	transition : all .25s ease;
	background: rgba(0,0,0,0.1);
}

.nav.genre img{
	vertical-align: text-top;
}

.nav.divide_line{
	position: absolute;
	left : 180px;
	top : 9px;
	height : 30px;
	border-right: solid 1px rgba(0,0,0,0.1);
}

.nav.nav_menu {
	left : 198px;
	height: 48px;
}

.nav.nav_menu li{
	float: left;
}

.nav.nav_menu button{
	height: 48px;
	color : rgb(164,164,164);
	background-color: rgba(0,0,0,0);
	padding: 0 1em 0 1em;
	border: none;
	font : 15px bold NanumGothicWeb;
	text-align: center;
	letter-spacing:0px;
}


.nav.nav_menu button:hover{
	transition : all .25s ease;
	background: rgba(0,0,0,0.1);
}

.nav.nav_buttons{
	overflow: hidden;
	margin-right: 250px;
}

.nav.help_button{
	margin-right: 80px;
}

.nav.preference_button button{
	width : 55px;
}

.nav.help_button button{
	padding: 0;
	width : 40px;
}


.nav.nav_buttons button{
	float : right;
	height: 28px;
	padding-top: 2px;
	margin-top : 9px;
	background-color: rgba(0,0,0,0.0);
	border: solid 1px rgb(164,164,164);
	border-radius: 2px;
}

.nav.nav_buttons button:hover{
	box-shadow: 0px 1px rgba(0,0,0,0.1);
}


/*contents_wrapper, section, article*/

.contents_wrapper{
	position: relative;
	margin :  40px 0px 0px 254px;
}

section {
	overflow: hidden;
	padding: 20px 0 20px 0;
	width : 100%;	
	position: relative;
}

.section.title{
	position: relative;
	overflow: hidden;
	margin-bottom: 16px;
}
.section.title.description{
	float : left;
}

.section.title.more_button{
	position: absolute;
	left : 769px;
}

.section.title.more_button > button{
	
	border-radius: 2px;
	border : none;
	background-color: rgb(26, 161, 225);
	padding: 8px 1em 8px 1em;	
	color: rgb(255, 255, 255);
	font-size: 15px;

}

.section.title.more_button > button:hover{
	transition : all, 0.25s ease;
	background-color: rgb(27,181,255);
	border-bottom: solid 2px rgba(0,0,0,0.2);

}


.contents{
	overflow: hidden;
	width: 100%;
}

.contents ul{
	overflow: hidden;
	max-height: 330px;	
}


.contents li{
	float: left;
	padding-right: 10px;

}

.contents.book_wrapper{
	position: relative;
	margin-bottom: 2px;
	width : 160px;
	height: 330px;
	background-color: rgb(245,245,245);
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
	
}

.contents.book_img{
	position: absolute;
	z-index: 2;
	height: 245px;
	text-align: center;
	vertical-align: middle;
}

.contents img{
	position: absolute;
	margin-top : 10px;
	width: 160px;
	z-index: 1;
	overflow: hidden;
}

.contents.book_img:hover{
	background-color: rgba(0,0,0,0.8);
	filter:gray; 
    -webkit-filter: brightness(20%); 
    -webkit-transition: all .25s ease;
 }


.contents.book_description{
	position: absolute;
	background-color: #FFF;
	height: 85px;
	padding-left: 5px;
	position: absolute;
	top : 245px;
}

.contents.book_description.title_author{
	position: absolute;
	top : 0;	
	width: 140px;
}

.contents dt{
	position: absolute;
	top : 0;
	z-index: 1;
	display: block;
	font-size: 17px;
	text-overflow : ellipsis;
	white-space : nowrap;
	padding-top: 5px;
}

.contents dd{
	position: absolute;
	top : 20px;
	display: block;
	text-align: left;
	color : rgba(0,0,0,0.5);
	-webkit-margin-start : 0;
	padding-top: 5px;
}


.shadow{
	position: absolute;
	padding-top: 5px;
	z-index: 2;
	left : 130px;
	width: 20px;
	height:20px;
	box-shadow: inset -10px 0 30px rgba(255,255,255,1);
}

.contents.book_description.price{
	position: absolute;
	width: 140px;
	top: 61px;
	text-align: right;
	font-size : 12px;
	color : #1aa1e1;
}



/*footer*/

footer{
	position: relative;
	margin :  40px 0px 0px 254px;
	font-family: Helvetica;
	line-height: 25px;
	color:rgba(0,0,0,0.5);
	font-size: 13px;
	letter-spacing : 2px;
}
.footer1{
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.footer1.copyright{
	float: left;
	font-size: 17px;
	font-style: bold;
	margin-right: 20px;
}

.footer1.terms{

}

.footer1 li{
	list-style: none;
	float: left;
	padding-right: 10px;
}

.footer1 li:hover{
	transition : all, 0.25s ease;
	text-decoration: underline;
}

.footer2{
	display: block;
	overflow: hidden;
}

.footer2.information{
	display: block;
	text-align: left;
}
.footer2.information dt{
	float: left;
	height: 20px;
	
}
.footer2.information dd{
	float: left;
	border-right: solid 1px rgba(0,0,0,0.3);
	padding-right: 5px;
	margin-right: 9px;
	height: 20px;
	-webkit-margin-start: 0px;

}

.footer2.warning{
	display: block;
	margin-bottom: 20px;
}

.footer2 a{
	color : inherit;
	text-decoration: none;
}
.footer2 a:hover{
	transition : all, 0.25s ease;
	text-decoration: underline;
}


/*responsive*/


@media (max-width: 1288px){

.section.title.more_button{
	position: absolute;
	left : 769px;
}


}

@media (min-width: 1289px){


.section.title.more_button{
	position: absolute;
	left : 938px;
	}
}


@media (min-width: 1459px){


.section.title.more_button{
	position: absolute;
	left : 1109px;
	}
}